.badge-modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;

  .modal-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;

    width: 90%;
    margin-top: 15%;

    border-radius: 10px;

    color: #fff;
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2c3e50,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2c3e50,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43);
    box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43);

    .fa-trophy {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .modal-card-bottom {
      padding: 1rem;
      background-color: #fff;
      color: black;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .modal-buttons {
      // display: flex;
      // justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      margin-bottom: 0.8rem;
    }

    .modal-buttons > * {
      border-radius: 5px;
      border: none;
      padding: 0.2rem;
      color: #fff;
    }

    .close {
      background: #ff416c; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #ff4b2b,
        #ff416c
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #ff4b2b,
        #ff416c
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      cursor: pointer;
    }

    .view-badges {
      background: #00f260; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #0575e6,
        #00f260
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #0575e6,
        #00f260
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      cursor: pointer;
    }

    textarea {
      margin-bottom: 0.8rem;
      padding: 0.7rem;
      font-size: 1rem;
      color: rgb(114, 114, 114);
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
    }

    .tweet-badge {
      display: flex;
      flex-direction: column;
    }

    .tweet-button {
      padding: 0.7rem;
      text-decoration: none;
      width: 100%;
      text-align: center;

      border-radius: 5px;
      color: #fff;
      font-size: 1.3rem;
      cursor: pointer;

      background: #00c6ff; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #0072ff,
        #00c6ff
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #0072ff,
        #00c6ff
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      -webkit-box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.43);
      -moz-box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.43);
      box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.43);
    }
  }
}
