.hotspot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  height: 100%;
  background: url("./birdBackground4.jpg");
  background-size: cover;
  background-position: top center; }
  .hotspot .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    overflow: scroll;
    width: 80%; }
  .hotspot .birds {
    width: 100%; }
  .hotspot .bird {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43);
    box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43); }
  .hotspot .bird-link {
    text-decoration: none;
    color: #fff; }
  .hotspot .twitter-button {
    padding: 1rem;
    text-decoration: none;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.43);
    box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.43); }
