.home {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .home .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    overflow: scroll;
    width: 100%; }
  .home .nav-link {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background: crimson;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43);
    box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43); }
