.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url('./birdBackground2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  margin-top: 60px;
  height: 1000px;

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    width: 100%;
  }

  .greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .greeting img {
    width: 100px;
    border-radius: 50%;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem auto;
    padding: 1rem;

    width: 80%;
    background: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 1.3rem;

    -webkit-box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43);
    box-shadow: 10px 10px 26px -9px rgba(0, 0, 0, 0.43);
  }

  i {
    margin-right: 10px;
  }
}
