.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  height: 60px;
  width: 375px;
  background: #1b2026;
  color: #fff;
  z-index: 99; }
  .header .back-icon {
    position: absolute;
    left: 20px;
    font-size: 1.8rem;
    cursor: pointer; }
  .header h3 {
    display: flex;
    align-items: center; }
  .header i {
    margin-right: 1rem; }
