.sign-in {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  background: url("./birdsSunset1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%; }
  .sign-in .welcome-text {
    width: 100%;
    margin: 0;
    padding-top: 40%;
    color: #fff; }
  .sign-in .fa-dove {
    margin-right: 1rem; }
  .sign-in h3 {
    margin: 0;
    font-size: 0.8rem; }
  .sign-in h2 {
    margin-top: 0;
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive; }
  .sign-in .app-description {
    position: absolute;
    top: 30%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    width: 75%;
    padding: 1rem;
    border-radius: 5px;
    color: #fff; }
  .sign-in .twitter-button {
    padding: 1rem;
    margin: 5rem auto;
    text-decoration: none;
    width: 75%;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.43);
    box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.43); }
