.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 375px;
  background: #1b2026; }
  .footer .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-right: 1px solid black;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff; }
